* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    background: #a74606;
}

#container {
    height: 500px;
    width: 350px;
    background: #590ad8;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2), -3px -3px 3px rgba(255, 255, 255, 0.3);
}

#container h1 {
    font-size: 35px;
    margin: 30px 0;
    text-align: center;
    color: #d8e2f0;
}

#amount {
    height: 60px;
    width: 310px;
    margin: 9px 0;
    position: relative;
    display: flex;
    align-items: center;
}

#amount h2 {
    font-size: 20px;
    color: #d8e2f0;
    padding: 0 10px;
}

#amount input {
    position: absolute;
    top: 10px;
    right: 0;
    height: 40px;
    width: 80px;
    border: 2px solid #2c7c94;
    outline: none;
    background: transparent;
    text-align: center;
    color: #d8e2f0;
    font-size: 18px;
}

#amount input::placeholder {
    color: #d8e2f052;
}

#container input[type="submit"] {
    height: 50px;
    width: 310px;
    background: #00aaaa;
    color: #d8e2f0;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 4px rgba(255, 255, 255, 0.3);
}
